 <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-content">
                    <div class="intro-lead-in">Byt och låna prylar nära dig</div>
                    <div class="intro-heading">Everything Sthlm</div>
                    <a href="/ads/" class="page-scroll btn btn-xl">Hitta det du söker</a>
                </div>
            </div>
        </div>
    </header>

    <section id="statistiks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Just nu</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Aktiva annonser</h4>
                    <h2 class="text-muted">{{activeAdsAmount}}</h2>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Registrerade användare</h4>
                    <h2 class="text-muted">{{usersAmount}}</h2>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Senast skapade annons</h4>
                    <h2 class="text-muted"><a href="/ads/?id={{latestUpload.id}}">{{latestUpload.title}}</a></h2>
                </div>
            </div>
        </div>
    </section>

     <section id="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vad är Everything Sthlm</h2>
                    <h3 class="section-subheading text-muted">Shared economy när den är som bäst.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">Start av projekt</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Idén Everything Sthlm tar form. Som namnet avslöjar skulle allt finnas på sajten: sälja, köpa, byteshandel etc., etc. Dock inser vi snabbt att vi behöver begränsa oss och att slå sig in på marknaden för köp och sälj känns inte realistiskt. Inriktningen blir låne- och bytesmarknaden. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">Arbeta agilt & på distans</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">När projektet startar ser vi inga problem med att jobba på olika platser, vi har kanaler för att kommunicera och för att sköta daily standups. Tyvärr fungerar detta inte på det sättet som vi vill, arbetet blir inte effektivt och vi stöter på problem med att inte alla i gruppen hänger med vad som händer i koden. 

                                    <br><br>Vi tar beslutet att skrota all tidigare kod och arbeta enligt <em>extreme programming</em>.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Januari 2016</h4>
                                    <h4 class="subheading">Koden byggs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Under januari har vi nästan dagliga kodsessioner där alla eller majoriteten av gruppmedlemmarna är på plats. Ibland sitter vi allihopa och resonerar om koden, ibland delar vi upp oss. Befinner man sig på andra delar av jordklotet finns möjlighet att ringa in via Skype eller join.me. Vi börjar se resultat av vårt arbete!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 och framåt</h4>
                                    <h4 class="subheading">Framtidsplaner</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Funktionalitet som ger användare möjlighet att &rdquo;expandera sitt trapphus&rdquo;, matchningsfunktion för saker du söker & lånar ut, fler städer än Stockholm. Inloggning med hjälp av Facebook-API.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="/user/newuserform/" class="heading-white">Bli en <br>del
                                    av
                                    <br>Everything Sthlm</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Services Section -->